body {
    margin: 0;
    padding: 0;
    background-color: white;
}
#navbar {
    height: 75px;
    background-color: rgb(36, 13, 13);;
    display: flex;
    border: 2px solid black;
}
.first{
    width: 25%;
    display: flex;
    
}
.first > img{
    width: 90px;
    color: white;
    
}
.first > h1{
    color: white;
    text-align: center;
}
.mid{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    
}
.mid > a{
    font-size: 1.8vmax;
    color: white;
    font-family: myFirstFont;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last{
    width: 25%;
    
    
   
   
    
}
button {
    margin-top: 10px;
    margin-left: 110px;
    width: 100px;
    height: 50px;
    border-radius: 35px;
    font-size: medium;
    border: 1px solid blue;
    color: blue;
}

.images{
    width: 100%;
    height: 600px;
    border: 2px solid green;
    
}
.footer{
    display: flex;
}
.footer > div{
    width: 40%;
    height: 200px;
    text-align: center;
    border: 2px solid red;
}
@font-face {
    font-family: myFirstFont;
    src: url( https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap);
    font-weight: normal;
}
